.practiceQuizContainer-container {
    width: 100%;
    overflow-y: scroll;
}
.single-qs {
    margin-top: 25px;
    margin-left: 50px;
    width: 80%;
    min-height: 200px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.single-qs p {
    font-size: 22px;
}
.single-qs label {
    font-size: 16px;
}
.options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.single-qs button {
    width: 120px;
    height: 44px;
    border: none;
    background: rgb(141, 141, 141);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}