.topics-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.topic:focus-within {
  background-color: white;
}
/* @media only screen and (max-width: 720px) {
  .sidebar {
    width: 0px;
  }
} */
